
.superior{
    text-align: center;
    background-image: url("../Diseño/titulo.png");
    background-size: cover;
    padding-top: 20px;
    background-repeat: no-repeat;
    
}

.fondoTraslucido{
    display: inline-block;
    background:  #34495e60; 
    background-clip: padding-box;
}

.derecha{
    text-align: right;
    float: right;
}
.izquierda{
    text-align: left;
    float: left;
}
